*.aux
*.auxlock
*.out
*.toc
*.log
*.synctex.gz
*.synctex.gz(busy)
*.bcf
*.blg
*.bbl
*.run.xml
*.pdf
*.fls
*.fdb_latexmk
*.pag

columns
pages

.github
.vscode
.venv
__pycache__

!goguen-categorical-foundations.pdf
